<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            SymBNB -
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {{ encore_entry_link_tags('app') }}
        <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">

    </head>
    <body>
        {% include 'admin/partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'admin/partials/footer.html.twig' %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
