{% extends "base.html.twig" %}
{% block title %}
    Bienvenue sur notre réseau d'appartement
{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur Sym BNB!</h1>
            <p class="lead">Nous mettons en relations des voyageurs et des proprietaires qui veulent profiter d'opportunité et gagner de l'argent en prpposant leur bien à la location !
            </p>
            <hr class="my-4">
                <p>Vous êtres voyageur? et vous voulez voir où vous pourrez loger pour votre prochain déplacement</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos anonces</a>
                </p>
            </div>
            <h4 class="h1 mt-3 mb-4">Nos appartement star</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3 bg-light">
                        <div class="card-header text-center">3 chambres,
                            <strong>49 euros / nuit</strong>
                            <br>
                                <small>Pas encore noté</small>
                            </div>
                            <img alt="Image par ici" src="https://placehold.it/1000x400" style="height:200px; width:100%; display:block;">
                                <div class="card-body">
                                    <h4 class="card-title">appartement de ouf !</h4>
                                    <p class="card-text">
                                        lorem ipsaum quelque chose par ici qui a plus de 20 mots a savoir qu'une maison doit etre vendue d'un maniere tres serieuse par toi meme le client qui loue
                                    </p>
                                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-3 bg-light">
                                <div class="card-header text-center">3 chambres,
                                    <strong>49 euros / nuit</strong>
                                    <br>
                                        <small>Pas encore noté</small>
                                    </div>
                                    <img alt="Image par ici" src="https://placehold.it/1000x400" style="height:200px; width:100%; display:block;">
                                        <div class="card-body">
                                            <h4 class="card-title">appartement de ouf !</h4>
                                            <p class="card-text">
                                                lorem ipsaum quelque chose par ici qui a plus de 20 mots a savoir qu'une maison doit etre vendue d'un maniere tres serieuse par toi meme le client qui loue
                                            </p>
                                            <a href="#" class="btn btn-secondary">En savoir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-3 bg-light">
                                        <div class="card-header text-center">3 chambres,
                                            <strong>49 euros / nuit</strong>
                                            <br>
                                                <small>Pas encore noté</small>
                                            </div>
                                            <img alt="Image par ici" src="https://placehold.it/1000x400" style="height:200px; width:100%; display:block;">
                                                <div class="card-body">
                                                    <h4 class="card-title">appartement de ouf !</h4>
                                                    <p class="card-text">
                                                        lorem ipsaum quelque chose par ici qui a plus de 20 mots a savoir qu'une maison doit etre vendue d'un maniere tres serieuse par toi meme le client qui loue
                                                    </p>
                                                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h2 class="h1 mt-3 mb-4">Nos proprietaires stars</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card border-secondary mb-3">
                                                <div class="card-body">
                                                    <h4 class="card-title">Farsi Turbos</h4>
                                                    <hr>
                                                        <div class="card-text">
                                                            <img alt="Avatar Farouk" class="float-left mr-3" src="https://placehold.it/64x64"></div>
                                                            <p>Lorem ipsaume que farouk est un proprietaire super sympa que je recommande à tout le monde, c'est bizare mais c'est femme sont trop bizare à gerer et surtout difficile à serner</p>
                                                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card border-secondary mb-3">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Farsi Turbos</h4>
                                                            <hr>
                                                                <div class="card-text">
                                                                    <img alt="Avatar Farouk" class="float-left mr-3" src="https://placehold.it/64x64"></div>
                                                                    <p>Lorem ipsaume que farouk est un proprietaire super sympa que je recommande à tout le monde, c'est bizare mais c'est femme sont trop bizare à gerer et surtout difficile à serner</p>
                                                                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endblock %}
                                        