{% extends "base.html.twig" %}
{% block title %}
    Bienvenue sur notre réseau d'appartement
{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur Sym BNB!</h1>
            <p class="lead">Nous mettons en relations des voyageurs et des proprietaires qui veulent profiter d'opportunité et gagner de l'argent en prpposant leur bien à la location !
            </p>
            <hr class="my-4">
            <p>Vous êtres voyageur? et vous voulez voir où vous pourrez loger pour votre prochain déplacement</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos anonces</a>
            </p>
        </div>
        <h4 class="h1 mt-3 mb-4">Nos appartements stars</h4>
        <div class="row">
            {% for data in ads %}
                {% include "ad/_ad.html.twig" with {'ad': data.annonce} %}
            {% endfor %}
        </div>


        <h2 class="h1 mt-3 mb-4">Nos proprietaires stars</h2>
        <div class="row">
            {% for data in users %}
                <div class="col-md-6">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{data.utilisateur.fullName}}</h4>
                            <hr>
                            <div class="card-text">
                                <img alt="Avatar Farouk" class="float-left mr-3" src="{{data.utilisateur.picture}}"></div>
                            <p>{{data.utilisateur.introduction}}</p>
                            <a class="btn btn-success float-right" href="{{path('user_show',{'slug': data.utilisateur.slug})}}">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
